.content .contact form input:focus,
.content .contact form textarea:focus,
.contact form button:focus {
    outline: none;
}

.content .contact {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 40px 5px;
    margin-top: 25px;
}

/* */
.content .contact .description {
    padding: 0px 15px;
    margin: auto;
    grid-column: 1 / 2;
    text-align: justify;
}

.content .contact .description .image {
    position: relative;
    display: block;
    background-image: url('/images/contact/email.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 450px;
    height: 350px;
    margin: auto;

}

.content .contact .contactForm {
    position: relative;
    display: block;
    grid-column: 2 / 2;
}

/* */
.content .contact form {
    position: relative;

    margin: auto;
    padding: 25px 20px 10px 20px;
    grid-column: 2 / 2;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    width: calc(100% - 2 * 20px);
    max-width: 500px;
}

.content .contact form input,
.content .contact form textarea {
    position: relative;
    display: block;
    padding: 10px;
    width: calc(100% - 2 * 15px);
    font-size: 18px;
    font-family: var(--font);
    background-color: #b0ccff;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    resize: none;
}

.content .contact form textarea {
    height: 150px;
}

textarea::first-line {
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

textarea::last-line {
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact form button {
    font-family: var(--font);
    background-color: #6495ed;
    color: #fff;
    border: 1px solid var(--black);
    font-size: 15px;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .content .contact {
        margin-top: -15px;
        background: var(--transparent);
    }
}

@media only screen and (max-width: 970px) {

    .content .contact {
        grid-template-columns: repeat(1, 1fr);
    }

    .content .contact .description {
        grid-column: 1 / 1;
        display: none;
    }

    .content .contact .contactForm {
        grid-column: 1 / 1;
    }

}
